body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
}

header {
    background-color: #1457ff;
    color: white;
    padding: 15px;
}

header h1 {
    margin: 0;
}

nav ul {
    display: flex;
    gap: 15px;
    padding: 0;
    margin: 10px 0 0;
    list-style: none;
}

nav a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

nav a:hover {
    text-decoration: underline;
}

main {
    padding: 20px;
}

footer {
    margin-top: 40px;
    background: #e9e9e9;
    padding: 15px;
    text-align: center;
}

/* ÁREA DA TRIAGEM */
.container {
    background: #fff;
    padding: 30px;
    max-width: 650px;
    margin: 20px auto;
    border-radius: 8px;
    box-shadow: 0 0 15px #00000020;
}

.section {
    margin-bottom: 25px;
}

input, select, textarea {
    width: 100%;
    margin-top: 8px;
    margin-bottom: 12px;
    padding: 10px;
    border-radius: 5px;
    border: 1px solid #bbb;
}

button {
    width: 100%;
    padding: 12px;
    background: #1457ff;
    border: none;
    border-radius: 5px;
    color: white;
    font-weight: bold;
    cursor: pointer;
}

button:hover {
    background: #003ccc;
}

.alerta {
    padding: 10px;
    margin-top: 8px;
    color: #8b0000;
    font-weight: bold;
}

.resultado {
    background: #eef4ff;
    padding: 20px;
    margin-top: 25px;
    border-radius: 6px;
    white-space: pre-line;
}
